# Visual Studio temporary files
*.sdf
*.opensdf
*.suo
*.user
*.filters
*.ipch
*.aps

# Build output directories
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017/2019/2022 cache and project info
.vs/